<% provide(:title, 'home') %>

<div class="center hero-unit">
 
 <%= @user.name %>, <%= @user.email %>
  <h2><%= @user.name %></h2>        
 
  <% if signed_in? %>
    

  <%= link_to "Sign out", signout_path, method: "delete" %>
          <% end %>
</div>

