<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Welcome to <a href="https://invite-app.herokuapp.com/">My app</a>, <%= @email_id %></h5>
    <p>
      Hi  Mr/Ms.<strong> <%= @friendname %></strong> wants to become friend with you in our site .<br />
      Please click the link to become friend of <%= @friendname %> <%= link_to "click here to become friend" , "https://invite-app.herokuapp.com/friendlists/#{@id}/edit?a=#{@a}&b=#{@b}" %>
          </p>
   
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>