@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 20px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 26px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 0.8em;
  line-height: 1.7em;
  float:left;
}
 
label{float:left;width:150px;font-size: 1.1em;}

input, textarea, select, .uneditable-input {
float:left;
  border: 1px solid #bbb;
  width: 50%;
  margin-bottom: 15px;
font-size: 1.1em; 
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
}
#error_explanation ul {
    list-style: none;
    margin: 0 0 18px 0;
  }

.field_with_errors {
 
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}